CREATE_DATABASE,sc_ext
CREATE_TABLE,EXTERNAL,sc_ext.user_general_ext,src/table_fields/user_general_ext.cols,GN/S1U-通用话单外表,,,,,,,DELIMITED,|,,,\r\n,,,/user/xh/external/user_general_ext,
CREATE_TABLE,,sc_buffer.user_general_buffer,src/table_fields/user_general_ext.cols,GN/S1U-通用话单中間緩存表,begin_time,開始時間作為分区鍵,src/table_fields/partitions,imsi,手機號碼為分桶鍵,191,,,,,,ORC,,,
CREATE_TABLE,,sc_final.user_general,src/table_fields/user_general_final.cols,GN/S1U-通用话单最終存儲表,begin_time,開始時間作為分区鍵,src/table_fields/partitions,imsi,手機號碼為分桶鍵,191,,,,,,ORC,,,
